* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans",
  sans-serif; 
  font-size: 20px;
  color:rgb(37, 22, 22);
  text-align: center;
  line-height: 1.5;
}

nav,
footer {
  padding: 1% 0;
  background-color:black;;
}
         


nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
background-image:url(https://images.unsplash.com/photo-1475965894430-b05c9d13568a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60);
}

.img1{
  width: 200px;
  padding-top: 50px;
}

.nav_btn1{
box-shadow: 3px 3px;
}



header {
  padding: 12% 0;
}

.projects{
  background-color:rgb(33, 45, 81);
  font-style:oblique; 
}
.title{
  color: antiquewhite;
  padding-right: 10px;
  text-decoration: none; 
}
.title-dark{
  color:rgb(33, 45, 81);
}
#hero{
  background-image: url(https://images.unsplash.com/photo-1515472379677-6c0ad8823829?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60);
  padding: 10% 10%

}
.pic{
background-image:url(https://images.unsplash.com/photo-1463171379579-3fdfb86d6285?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);
display:-webkit-inline-box;
}
 .bio{
 background-color:antiquewhite;
 border-style:solid groove;
 padding: 10% 10%
}

.footer{
  background-color:rgb(33, 45, 81);
}
.skills{
  background-color:antiquewhite;
}

@media only screen and (min-width: 700px) {
  .img1 {
    padding-top:0px;
     width: 250px;
     padding-right: 20px;
  }
 }

@media only screen and (min-width: 768px) {
  .img1 {
    padding-top:0px;
    width: 250px;
  }
 } 